body {
  margin: 0;
  text-align: center;
}
body .header {
  width: 100%;
  height: 500px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  text-align: center;
}
body .header h1 {
  margin: 0;
  color: white;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 5px;
  word-spacing: 15px;
}

.cover {
  background-color: rgba(128, 128, 128, 0.6);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #3399ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #004d99;
}

.text {
  margin: auto;
}

.navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.navbar a {
  padding: 0 10px;
  color: grey;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
}
.navbar a:hover {
  color: blue;
}
.navbar a img {
  width: 20%;
  height: 60%;
}

.single-item {
  width: 50%;
  margin: 0 auto;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 100px;
}

.text11 {
  grid-column: 1/span 4;
  padding: 0 150px;
  margin: 50px 0px;
}

.text12 {
  padding: 20px;
  border: 1px solid lightgray;
}

.icons {
  font-size: 30px;
  color: #0080ff;
}
.icons i {
  border: 1px solid #0080ff;
  border-radius: 50%;
  padding: 10px;
}
.icons .fa-mobile-alt {
  padding: 10px 17px;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightgrey;
  margin: 50px 0;
  padding: 50px 100px;
}
.section2 .video {
  grid-column: 1/span 2;
  height: 350px;
}
.section2 .video iframe {
  width: 100%;
  height: 100%;
}
.section2 .text13 {
  grid-column: 3/span 2;
  padding: 0 50px;
  text-align: left;
}
.section2 .line {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.text14 {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
}

.section3 {
  display: flex;
  flex-direction: row;
  padding: 0px auto;
}
.section3 button {
  padding: 5px 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  color: grey;
}

.section4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid red;
}
.section4 .image1 {
  background-image: url("http://paperlief.com/images/empire-state-building-view-wallpaper-2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section4 .image2 {
  background-image: url("http://paperlief.com/images/empire-state-building-view-wallpaper-2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=atsiskaitymas.css.map */
